
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
<meta http-equiv="EXPIRES" content="0" />
<meta http-equiv="PRAGMA" content="NO-CACHE" />
<title>LibreOffice Launcher</title>
<script>
  function checkAppletLoaded() {
    var applet = document.getElementById("applet");
    console.log("Applet: " + applet);
    console.log("Type of applet: " + typeof applet);

    if ((typeof applet == "function" || typeof applet == "object")) {
      console.log("Applet status: " + applet.status);
      if (applet.status == 2) {
        handleAppletLoaded();
        return;
      }
    }
    handleAppletNotLoaded();
  }

  function handleAppletNotLoaded() {
    setTimeout(checkAppletLoaded, 1000);
  }

  function handleAppletLoaded() {
    window.close();
  }

  var params = {};

  if (location.search) {
    var parts = location.search.substring(1).split('&');

    for ( var i = 0; i < parts.length; i++) {
      var nv = parts[i].split('=');
      if (!nv[0])
        continue;
      params[nv[0]] = nv[1] || true;
    }
  }

  //Close the window after 30 seconds if not closed already
  setTimeout(handleAppletLoaded, 30000);
</script>
</head>
<body onLoad="checkAppletLoaded();">

	<script src="https://www.java.com/js/deployJava.js"></script>
	<script>
    var attributes = {
      code : 'com.redpill_linpro.libreoffice.LibreOfficeLauncherApplet.class',
      archive : 'libreoffice-${project.version}.jar',
      width : 400,
      height : 50,
      id : 'applet'
    };
    var parameters = {
      'ALF_PROTOCOL' : params.alf_protocol,
      'ALF_HOSTNAME' : params.alf_hostname,
      'ALF_PORT' : params.alf_port,
      'ALF_CONTEXT' : params.alf_context,
      'ALF_REPOSITORY_ID' : params.alf_repository_id,
      'ALF_FILE_PATH' : params.alf_file_path,
      'systemvars' : 'jsse.enableSNIExtension=false',
      'permissions' : 'all-permissions',
      'java_status_events' : 'true'
    };
    var version = '1.6';
    deployJava.runApplet(attributes, parameters, version);
  </script>
</body>
</html>